<footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-left">
    		&copy; <%= date(new Date(), 'YYYY') %> 武汉理工大学电子科技协会
    	</div>
      	<div class="footer-right">
      		<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1277584413'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s96.cnzz.com/z_stat.php%3Fid%3D1277584413%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
      	</div>
    </div>
  </div>
</footer>